div
  u-layout-page.project-banner(:meta="false")
    template(slot="main")
      div.row(v-if="!loading")
        div.col-md-8
          img.project-image(:src="project.images[0]")
        div.project-description.col-md-4.column.justify-between
          div
            div.row.project-title.inline.nowrap.items-center
              img.project-avatar(:src="project.images[0]")
              span.q-headline.project-name {{ project.name }}
            p {{ project.short_description }}
            p.q-caption.text-grey
              span.row.items-center.justify-start.project-separator
                img.project-owner-avatar(:src="'https://img.blocker.press/a/' + project.owner")
                span.project-created-by created by 
                span.q-body-1.text-black {{project.owner}}
          div.row.project-title.inline.nowrap.items-center.project-stats
            div.row.column.col-md-6.items-start
              span.q-headline 1234
              span.q-body-1.uppercase.text-grey contributions
            div.row.column.col-md-6.items-start
              span.q-headline 1234000 SP
              span.q-body-1.uppercase.text-grey sponsors delegation
            div.row.column.col-md-6.items-start
              span.q-headline 14
              span.q-body-1.uppercase.text-grey contributors
            div.row.column.col-md-6.items-start
              span.q-headline $ 24123
              span.q-body-1.uppercase.text-grey rewards
          div.row.justify-between.project-buttons
            q-btn.col-md-6(dense, color="primary") Contribute
            q-btn.col-md-6(dense, icon="mdi-github-circle", size="12px", outline, color="dark", reverse) Github Repository

  q-tabs(color="black" inverted v-if="!loading" align="justify").hidden
    q-route-tab(:to="`/project/${project.slug}/contributions`" name="tab-contributions" append label="Contributions" slot="title" exact)
    q-route-tab(:to="`/project/${project.slug}/details`" name="tab-details" append label="Details" slot="title" exact)
    q-route-tab(:to="`/project/${project.slug}/updates`" name="tab-updates" append label="Updates" slot="title" exact disabled)
    q-route-tab(:to="`/project/${project.slug}/task`" name="tab-task-requests" append label="Task Requests" slot="title" exact disabled)
    q-route-tab(:to="`/project/${project.slug}/contributors`" name="tab-contributors" append label="Contributors" slot="title" exact disabled)
    q-route-tab(:to="`/project/${project.slug}/sponsors`" name="tab-sponsors" append label="Sponsors" slot="title" exact disabled)

  u-layout-page.u-page-index(:reverse="true")
    template(slot="meta")
      div.row.right-side-slot
        div.recent-task-requests
          span.q-title.uppercase recent task requests
          q-list(separator)
            q-item(v-for="i in 4")
              q-item-main
                q-item-tile.row.items-center(label)
                  q-icon(name="mdi-checkbox-blank-circle")
                  | Content filtering
                q-item-tile(sublabel) Set the content filtering level to restrict apps that can be downloaded
            q-item
              q-item-main.row
                q-btn.col-12(color="primary") see all


        div.top-contributors
          span.q-title.uppercase top contributors
          q-list(separator).row
            q-item(v-for="contributor in contributors").col-12
              q-item-side(:avatar="'https://img.blocker.press/a/' + contributor.name")
              q-item-main
                q-item-tile.row.items-center(label) {{ contributor.name }}
                q-item-tile(sublabel) {{ contributor.numberOfContributions }} contributions
            q-item.col-12
              q-item-main.row
                q-btn.col-12(color="primary") see all

    template(slot="main")
      router-view





