div
  div.header.q-pb-lg
    q-page-container.container
      div.gt-sm.row.justify-center.q-my-lg.q-pb-lg.menu
        router-link(:to="{ name: 'home' }") PROJECTS
        router-link(:to="{ name: 'contributions' }") CONTRIBUTIONS
        router-link(:to="{ name: 'home' }") WALLET
        router-link(:to="{ name: 'home' }") SPONSORS
        router-link(:to="{ name: 'home' }") MODERATORS
      div.row
        div.col-lg-6.offset-lg-1.projects-slider
          q-carousel.project-images(color="white", ref="mainCarousel")
            q-carousel-slide(v-for="project in projects", :img-src="project.images[0]", :key="project.name")
        div.col-lg-4.text-center
          q-carousel.project-info(color="white", ref="infoCarousel", no-swipe)
            q-carousel-slide(v-for="project in projects", :key="project.name")
              q-card.project-card
                q-card-title
                  | {{ project.name }}
                  span(slot="subtitle")
                    | by
                    span.text-dark.q-subheading {{ project.owner }}
                q-card-main.q-title.text-weight-light.text-dusk
                  | {{ project.short_description }}
                q-card-actions(align="center")
                  q-btn(label="Contribute to this project", color="primary")

          q-btn.carousel-arrow(
            flat,
            round,
            icon="mdi-arrow-left",
            color="blue-grey-6",
            size="24px",
            dense,
            @click="carouselPrevious"
            :disable="!carouselCanGoToPrevious"
          )
          q-btn.carousel-arrow(
            flat,
            round,
            icon="mdi-arrow-right",
            color="blue-grey-6",
            size="24px",
            dense,
            @click="carouselNext"
            :disable="!carouselCanGoToNext"
          )

  div.main
    q-page-container.container
      div.q-title.q-my-lg RECENT CONTRIBUTIONS
      div.row.contributions.gutter-sm
        div.col-md-12.col-lg-4(v-for="(post, index) in visibleContributions", v-if="!loading")
          u-post-preview.round-borders.items-stretch(:post="post", exceptSize="100", titleSize="50")
        div.col-md-12.col-lg-4(v-for="(post, index) in emptyContributions", v-if="loading")
          u-post-preview.round-borders.items-stretch(:post="post", exceptSize="100", titleSize="50", :loading="true")

      div.q-title.q-my-lg.q-pt-lg RECENT TASK REQUESTS
      div.row.contributions.gutter-sm
        div.col-md-12.col-lg-4(v-for="(post, index) in visibleTaskRequests", v-if="!loading")
          u-post-preview.round-borders.items-stretch(:post="post", exceptSize="100", titleSize="50")
        div.col-md-12.col-lg-4(v-for="(post, index) in emptyContributions", v-if="loading")
          u-post-preview.round-borders.items-stretch(:post="post", exceptSize="100", titleSize="50", :loading="true")

      div.q-title.q-my-lg.q-pt-lg POPULAR PROJECTS
      div.row.inline.projects.gutter-sm
        div(v-for="(project, index) in projects").col-md-12.col-lg-4
          q-card.inline.round-borders(color="white", text-color="grey-7")
            q-card-media(:style="'background-image: url(' + project.images[0] + ')'")
            q-card-title {{project.name}}
            q-card-main
              p.short-description {{project.short_description}}
              p
                q-btn.tag(color="tertiary", dense, size="", outline, :key="tag", v-for="tag in project.tags")
                  | {{tag}}
              div.author.items-center
                div.avatar
                  img.align-bottom(:src="'https://img.blocker.press/a/' + project.owner")
                div.author-details
                  div.name
                    span {{ '@' + project.owner  }}

      div.row.submit-project.round-borders.justify-between.items-center.q-mt-lg
        div.row.no-wrap.items-center
          img.blue-text(src="~assets/img/skyline.svg")
          div.row.column
            p.blue-text.q-mb-sm List your Project on Utopian opensource platform.
            p.q-mb-none Utopian.io will reward contributors for the hard work in your project.
        div
          q-btn(color="primary", @click="redirectToCreateProject")
            | Submit my project