u-layout-homepage

  template(slot="jumbotron")
    div.row
      div.col-md-10.offset-md-1.subheader.q-subheading.gt-sm
        router-link(:to="{ name: 'home' }") PROJECTS
        router-link(:to="{ name: 'contributions' }") CONTRIBUTIONS
        router-link(:to="{ name: 'home' }") WALLET
        router-link(:to="{ name: 'home' }") SPONSORS
        router-link(:to="{ name: 'home' }") MODERATORS
      div.col-md-10.offset-md-1.projects-slider
        q-carousel.shadow-2(color="white", height="380px", ref="mainCarousel")
          q-carousel-slide(v-for="project in projects", :img-src="project.images[0]", :key="project.name")
        q-carousel.project-info(color="white", ref="infoCarousel", no-swipe)
          q-carousel-slide(v-for="project in projects", :key="project.name")
            q-card.project-card
              q-card-title
                | {{ project.name }}
                span(slot="subtitle")
                  | by 
                  span.text-dark.q-subheading {{ project.owner }}
              q-card-main.q-title.text-weight-light.text-dusk
                | {{ project.short_description }}
              q-card-actions(align="center")
                q-btn(label="Contribute to this project", color="primary")
      div.col-md-1.carousel-arrows
        q-btn.carousel-arrow(
          flat,
          round,
          icon="mdi-arrow-up",
          color="blue-grey-6",
          size="24px",
          dense,
          @click="carouselPrevious"
          :disable="!carouselCanGoToPrevious"
        )
        q-btn.carousel-arrow(
          flat,
          round,
          icon="mdi-arrow-down",
          color="blue-grey-6",
          size="24px",
          dense,
          @click="carouselNext"
          :disable="!carouselCanGoToNext"          
        )
  template(slot="main")
    span.q-title RECENT CONTRIBUTIONS
    div.row.inline.contributions.gutter-sm
      div.col-md-4.col-xs-12.col-sm-12(v-for="(post, index) in visibleContributions")
        u-post-preview.round-borders.items-stretch(:post="post", exceptSize="100", titleSize="50")

    span.q-title RECENT TASK REQUESTS
    div.row.inline.contributions.gutter-sm
      div.col-md-4.col-xs-12.col-sm-12(v-for="(post, index) in visibleTaskRequests")
        u-post-preview.round-borders.items-stretch(:post="post", exceptSize="100", titleSize="50")

    span.q-title POPULAR PROJECTS
    div.row.inline.projects.gutter-sm
      div(v-for="(project, index) in projects").col-md-4.col-xs-12.col-sm-12
        q-card.inline.round-borders(color="white", text-color="grey-7")
          q-card-media
            img(:src="project.images[0]")
          q-card-title {{project.name}}
          q-card-main
            p.short-description {{project.short_description}}
            p
              q-btn.tag(color="tertiary", dense, size="", outline, :key="tag", v-for="tag in project.tags")
                | {{tag}}
            div.author.items-center
              div.avatar
                img.align-bottom(:src="'https://img.blocker.press/a/' + project.owner")
              div.author-details
                div.name
                  span {{ '@' + project.owner  }}

    div.row.submit-project.round-borders.justify-between.items-center
      div.row.no-wrap.items-center
        img.blue-text(src="~assets/img/skyline.svg")
        div.row.column
          p.blue-text.q-headline.q-mb-none List your Project on Utopian opensource platform.
          p Utopian.io will reward contributors for the hard work in your project.
      div
        q-btn(color="primary", size="lg", @click="redirectToCreateProject").shadow-3
          | Submit my project