div
  div.header.q-pb-lg
    q-page-container.container
      div.gt-sm.row.justify-center.q-my-lg.q-pb-lg.menu
        router-link(:to="{ name: 'contributions' }") CONTRIBUTIONS
        a(href="https://join.utopian.io/sponsors/" target="_blank") SPONSORS
        router-link(:to="{ name: 'project.search' }") PROJECTS
        router-link(:to="{ name: 'home' }", disabled) WALLET
        router-link(:to="{ name: 'home' }", disabled) MODERATORS
      div.row
        div.col-lg-6.offset-lg-1.projects-slider
          q-carousel.project-images(color="white", ref="mainCarousel")
            q-carousel-slide(v-for="project in projects", :img-src="project.data.images[0]", :key="project.id" v-if="project.data.featured_order <= 3")
        div.col-lg-4.text-center
          q-carousel.project-info(color="white", ref="infoCarousel", no-swipe)
            q-carousel-slide(v-for="project in projects", :key="project.id" v-if="project.data.featured_order <= 3")
              q-card.project-card
                q-card-title
                  | {{ project.data.name }}
                  span(slot="subtitle")
                    | {{ 'by ' }}
                    span.text-dark.q-subheading {{ project.data.creator }}
                q-card-main.q-title.text-weight-light.text-dusk
                  | {{ project.data.description }}
                q-card-actions(align="center")
                  q-btn(label="Contribute to this project", color="primary" @click="goToProjectPage(project.id)")

          q-btn.carousel-arrow(
            flat,
            round,
            icon="mdi-arrow-left",
            color="grey-8",
            size="24px",
            dense,
            @click="carouselPrevious"
            :disable="!carouselCanGoToPrevious"
          )
          q-btn.carousel-arrow(
            flat,
            round,
            icon="mdi-arrow-right",
            color="grey-8",
            size="24px",
            dense,
            @click="carouselNext"
            :disable="!carouselCanGoToNext"
          )

  div.main
    q-page-container.container
      div.flex.justify-between.contributions-header
        div.q-title.q-my-lg RECENT CONTRIBUTIONS
        router-link(:to="{ name: 'contributions' }") 
          div.pt
            div.text-right.mb See all
            hr
            div.mt Contributions  
      div.row.contributions.gutter-sm
        div.col-md-12.col-lg-4(v-for="(post, index) in contributions", v-if="!loading")
          u-post-preview.round-borders.items-stretch(:post="post", exceptSize="100", titleSize="50")
        div.col-md-12.col-lg-4(v-for="(post, index) in emptyContributions", v-if="loading")
          u-post-preview.round-borders.items-stretch(:post="post", exceptSize="100", titleSize="50", :loading="loading")

      //- div.q-title.q-my-lg.q-pt-lg RECENT TASK REQUESTS
      //- div.row.contributions.gutter-sm
      //-   div.col-md-12.col-lg-4(v-for="(post, index) in visibleTaskRequests", v-if="!loading")
      //-     u-post-preview.round-borders.items-stretch(:post="post", exceptSize="100", titleSize="50")
      //-   div.col-md-12.col-lg-4(v-for="(post, index) in emptyContributions", v-if="loading")
      //-     u-post-preview.round-borders.items-stretch(:post="post", exceptSize="100", titleSize="50", :loading="loading")

      div.flex.justify-between.contributions-header
        div.q-title.q-my-lg.q-pt-lg POPULAR PROJECTS
        router-link.q-pt-lg(:to="{ name: 'project.search' }") 
          div.pt
            div.text-right.mb See all
            hr
            div.mt Projects
      div.row.inline.projects.gutter-sm
        div(v-for="(project, index) in projects" v-if="project.data.featured_order >= 4").col-md-12.col-lg-4
          q-card.inline.round-borders(color="white", text-color="grey-7")
            q-card-media(:style="'background-image: url(' + project.data.images[0] + ')'" @click.native="goToProjectPage(project.id)")
            q-card-title(@click.native="goToProjectPage(project.id)") {{project.data.name}}
            q-card-main
              p.short-description {{project.data.description}}
              p
                q-btn.tag(color="tertiary", dense, size="", outline, :key="tag", v-for="tag in project.data.tags")
                  | {{tag}}
              div.author.items-center
                div.avatar
                  img.align-bottom(:src="'https://steemitimages.com/u/' + project.data.owner +'/avatar'")
                div.author-details
                  div.name
                    span {{ '@' + project.data.creator  }}

      div.row.submit-project.round-borders.justify-between.items-center.q-mt-lg
        div.row.no-wrap.items-center
          img.blue-text(src="~assets/img/skyline.svg")
          div.row.column
            p.blue-text.q-mb-sm List your Project on Utopian opensource platform.
            p.q-mb-none Utopian.io will reward contributors for the hard work in your project.
        div
          q-btn(color="primary", @click="redirectToCreateProject")
            | Submit my project
