u-layout-homepage

  template(slot="jumbotron")
    div.row
      div.col-md-10.offset-md-1.subheader.q-subheading
        router-link(:to="{ name: 'home' }") PROJECTS
        router-link(:to="{ name: 'contributions' }") CONTRIBUTIONS
        router-link(:to="{ name: 'home' }") WALLET
        router-link(:to="{ name: 'home' }") SPONSORS
        router-link(:to="{ name: 'home' }") MODERATORS
      div.col-md-10.offset-md-1.projects-slider
        q-carousel.shadow-2(color="white", height="380px", ref="mainCarousel")
          q-carousel-slide(v-for="project in projects", :img-src="project.image", :key="project.name")
        q-carousel.project-info.shadow-8(color="white", ref="infoCarousel", no-swipe)
          q-carousel-slide(v-for="project in projects", :key="project.name")
            q-card.project-card
              q-card-title
                | {{ project.name }}
                span(slot="subtitle")
                  | by 
                  span.text-dark.q-subheading {{ project.owner }}
              q-card-main.q-title.text-weight-light.text-dusk
                | {{ project.description }}
              q-card-actions(align="center")
                q-btn(label="Contribute to this project", color="primary")
      div.col-md-1.carousel-arrows
        q-btn.carousel-arrow(
          flat,
          round,
          icon="mdi-arrow-up",
          color="blue-grey-6",
          size="24px",
          dense,
          @click="carouselPrevious"
          :disable="!carouselCanGoToPrevious"
        )
        q-btn.carousel-arrow(
          flat,
          round,
          icon="mdi-arrow-down",
          color="blue-grey-6",
          size="24px",
          dense,
          @click="carouselNext"
          :disable="!carouselCanGoToNext"          
        )
  template(slot="main")
    span.q-title RECENT CONTRIBUTIONS
    div.row.inline.no-wrap.contributions
      template.col-md-4(v-for="(post, index) in visiblePosts")
        u-post-preview.round-borders.shadow-3(:post="post", :class="index === 2 ? 'last' : ''")

    span.q-title POPULAR PROJECTS
    div.row.inline.no-wrap.contributions
      template.col-md-4(v-for="(post, index) in visiblePosts")
        u-post-preview.round-borders(:post="post", :class="index === 2 ? 'last' : ''")