u-layout-page.u-page-create-project(reverse=true)

  div.row.flex.justify-center(slot="main")
    q-spinner-dots(v-if="loading", :size="40", style="margin: 0 auto")
    div(v-if="!loading")
      p.q-headline Let's create your project
      p.q-title Make a great first impression with all the project information filled and great images about your project.

      div.create-project-form
        // general fields.
        div.row.row-fields.general
          div.col-12
            // project name.
            q-field(label="Project Name", :helper="'slug:' + slug", orientation="vertical")
              q-input(v-model="project.name", :error="$v.project.name.$error", placeholder="e.g DTube", @keyup.enter="submit")

          // div.col-12
            // project slug.
            q-field.q-field-disabled(disabled="", label="Project Slug Name", orientation="vertical")
              q-input(v-model="slug", placeholder="e.g: Dtube", readonly)

        // github fields.
        div.row.row-fields.github

          div.col-12
            q-field(label="Github Repository", orientation="vertical")
              q-search(@blur="$v.project.githubRepository.$touch", v-model="project.githubRepository", placeholder="e.g dtube/dtube", icon="mdi-github-circle")
                q-autocomplete(@search="searchGithubRepos", :min-characters="3", ref="autocomplete",
                :debounce="500", separator)


        div.row.row-fields.files
          div.col-12
            q-field(label="Project Images", orientation="vertical")
              u-file-uploader(ref="uploader", id="upload")

          div.col-12
            q-field(label="Short description", :count="250", orientation="vertical")
              q-input(
                id="description"
                v-model="project.shortDescription",
                type="textarea",
                maxlength="250",
                placeholder="Give people a sense about your project…",
                :error="$v.project.shortDescription.$error",
                @keyup.enter="submit"
              )
          div.col-12
            q-field(label="Details / About the Project", orientation="vertical")
              q-input(id="details", v-model="project.details", type="textarea", placeholder="Write everything about your project…")

          div.col-12
            q-field(label="Project Tags", orientation="vertical")
              q-chips-input(
                id="tags"
                v-model="project.tags"
                placeholder="e.g: Dtube,"
              )
        q-btn.full-width(color="primary", label="Create", @click="checkProjectOwner")
