u-layout-page.u-page-index(reverse=true)

  template(slot="main")
    q-spinner-dots(v-if="loading" :size="40", style="margin: 0 auto")
    div(v-if="!loading")
      p.q-headline Let's create your project
      p.q-title Make a great first impression with all the project information filled and great images about your project.

      div.create-project-form
        q-input(
          v-model="project.name"
          stack-label="Project Name"
          placeholder="e.g DTube"
          @blur="$v.project.name.$touch"
          :error="$v.project.name.$error"
          @keyup.enter="submit"
        )
        q-input(
          v-model="slug"
          stack-label="Project Slug Name"
          placeholder="e.g dtube"
          readonly
        )
        q-search(
          v-model="project.githubRepository"
          stack-label="Github Repository"
          placeholder="e.g dtube/dtube"
          @blur="$v.project.githubRepository.$touch"
          :error="$v.project.githubRepository.$error"
          @keyup.enter="submit"
        )
          q-autocomplete(
            stack-label="Github Repository",
            @search="searchGithubRepos"
            :min-characters="3"
            ref="autocomplete"
            :debounce="500"
            separator
          )
        u-file-uploader(ref="uploader")

        q-field(:count="150")
          q-input(
            v-model="project.shortDescription",
            type="textarea",
            maxlength="150",
            stack-label="Short description"
            @blur="$v.project.shortDescription.$touch"
            :error="$v.project.shortDescription.$error"
            @keyup.enter="submit"
          )
        q-field()
          q-input(
            v-model="project.details",
            type="textarea",
            stack-label="Details"
            @blur="$v.project.details.$touch"
            :error="$v.project.details.$error"
            @keyup.enter="submit"
          )
        q-chips-input(
          v-model="project.tags"
          stack-label="Tags"
          @blur="$v.project.tags.$touch"
          :error="$v.project.tags.$error"
        )
        q-btn.full-width(color="primary", label="Create", @click="submit")







